div ul{
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
}

body {
    max-width: 1920px;
    max-height: 1080px;
    background-size: cover;
    background-image: url(img/jonatan-pie-h8nxGssjQXs-unsplash.jpg);
}

li {
    background-color: #222222;
    height: 100px;
    width: 100px;
}

li img {
    max-width: 50px;
    max-height: 50px;
    padding: 15px;
}

form img {
    width: 20px;
    height: 20px;
}

.inp {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.inp form {
    background-color: #3c3c3c;
}

.inp input {
    height: 50px;
    background-color: #3c3c3c;
    text-align: center;
    border: 20px;
    color: aliceblue;
    font-size: 30px;
}

.inp ul {
    background-color: #3c3c3c;
    border-radius: 10px;
}